<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAxoZ7wH0I/UC4j0wEHUXsDQAAAAACAAAAAAAQZgAAAAEAACAAAAAaJEpqE3kET3c+qc3EvHegbNAg3ki8POXsVseWHza5NgAAAAAOgAAAAAIAACAAAADG8ugIhSEey0nH2rLXPquvppAmGBYfMMycggnLr4D5gjAAAABwx9iBWPD8R3i5/rGxCHYtpJI52FmI+ockb1C2lyiaWic3hggU4mCwhTdYdpaCucVAAAAA0HSbLHlJbbnkk+zrL2M2rALOSCmdpVp4AQ4ABf4l9FsR2PzWvYB7rXMYmW+sdfNh3nz/ZKL6jafxS5ISJ/3sSg==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAxoZ7wH0I/UC4j0wEHUXsDQAAAAACAAAAAAAQZgAAAAEAACAAAAAPdsY1oZzOInwgk6i9x+iLaZgcuhVLuo+o1IOjp4nXswAAAAAOgAAAAAIAACAAAADnrulknDcDV20cSTgwQywcj1SSG8AOuOVf+QEdpNoxQjAAAAANPp1hGahSBX1gQqgPX73Fgo4Ka17VZqX68zDvSOJHQSF13LV/eyr7J7tkSevPfENAAAAAjZEmdJArE/C/HtH9s5Tbg5drHxc+0Jqxpz1G1Ebg26QtryVbutl9vnK7m7Oa3At978m1GPQYtXjKthaLwoKSDQ==" />
  </apikeys>
</configuration>